.create-account {
    background: #fff;
    width: 380px;
    height: 600px;
    border-radius: 4px;
    &__title-box {
        padding: 40px 30px 0px 30px;
    }
    &__title {
        font-weight: bold;
        font-size: 24px;
        color: #000;
    }
    &__self-field-box {
        position: relative;
        display: flex;
        height: 44px;
    }
    &__data {
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        background: #fff;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
    }
    &__data + &__label {
        color: rgba(31, 32, 65, 0.25);
        transform: translateY(0);
        padding: 13px 0 13px 15px;
        pointer-events: none;
        transition: all 0.5s ease;
    }
    &__field-name-box {
        padding: 10px 0 20px 0;
    }
}