<form class="create-account">
    <div class="create-account__content">
    <div class="create-account__title-box">
        <span class="create-account__title">Регистрация аккаунта</span>
    </div>
    <div class="create-account__person-data">
        <div class="create-account__input-box">
            <label class="create-account__input-label-box">
                <input type="text" class="create-account__input" name="personFirstName" required>
                <label class="create-account__label">Имя</label>
            </label>
        </div>
        <div class="create-account__input-box">
            <label class="create-account__input-label-box">
                <input type="text" class="create-account__input" name="personLastName" required>
                <label class="create-account__label">Фамилия</label>
            </label>
        </div>
        <div class="create-account__input-box">
            <label class="create-account__input-label-box">
                <input type="text" class="create-account__input" name="personAge" required>
            </label>
        </div>
    </div>
    <div class="create-account__choise-sex">
        <div class="create-account__radio-box">
        <label class="create-account__radio">
            <input type="radio" class="create-account__encapsulation" name="personGender" checked>
            <span class="create-account__imitation is-animate"></span>
        </label>
        <span class="create-account__radio-text">Парень</span>
        </div>
        <div class="create-account__radio-box">
        <label class="create-account__radio">
            <input type="radio" class="create-account__encapsulation" name="personGender">
            <span class="create-account__imitation is-animate"></span>
        </label>
        <span class="create-account__radio-text">Девушка</span>
        </div>
    </div>
    <div class="create-account__private-data">
        <span class="create-account__head">Данные для входа в сервис</span>
        <div class="create-account__private-box">
        <div class="create-account__input-box">
            <label class="create-account__input-label-box">
                <input type="text" class="create-account__input" name="personEmail" required>
                <label class="create-account__label">Введите email</label>
            </label>
        </div>
        <div class="create-account__input-box">
            <label class="create-account__input-label-box">
            <input type="password" class="create-account__input" name="personPassword" required>
            <label class="create-account__label">Придумайте пароль</label>
            </label>
        </div>
        </div>
    </div>
    <div class="create-account__registr-btn-box">
        <button type="submit" class="create-account__btn">
        <span class="create-account__btn-text">Зарегистрироваться</span>
        <span class="create-account__btn-icon"></span>
        </button>
    </div>
    <div class="create-account__redirect-box">
        <span class="create-account__redirect-text">Уже есть аккаунт на Music search?</span>
        <button type="submit" class="create-account__redirect-btn">Войти</button>
    </div>
    </div>
</form>