<form class="exist-account">
    <div class="exist-account__content">
    <div class="exist-account__title-box">
        <span class="exist-account__title">Войти в аккаунт</span>
    </div>
    <div class="exist-account__private-data">
        <div class="exist-account__input-box">
        <label class="exist-account__input-label-box">
            <input type="text" class="exist-account__input" name="authEmail" required>
            <label class="exist-account__label">Ваш email</label>
        </label>
        </div>
        <div class="exist-account__input-box">
        <label class="exist-account__input-label-box">
            <input type="password" class="exist-account__input" name="authPassword" required>
            <label class="exist-account__label">Ваш пароль</label>
        </label>
        </div>
    </div>
    <div class="exist-account__enter-btn-box">
        <button type="submit" class="exist-account__btn">
        <span class="exist-account__btn-text">Войти</span>
        <span class="exist-account__btn-icon"></span>
        </button>
    </div>
    <div class="exist-account__redirect-box">
        <span class="exist-account__redirect-text">Нет аккаунта на Music search?</span>
        <button type="submit" class="exist-account__redirect-btn">Создать</button>
    </div>
    </div>
</form>