<footer class="footer">
    <div class="footer__content">
        <div class="footer__list-box">
            <ul class="footer__list">
                <li class="footer__header">
                    <a href="#" class="footer__link">Навигация</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">О нас</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Новости</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">По общим вопросам</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Взаимодействие с нами</a>
                </li>
            </ul>
        </div>
        <div class="footer__list-box">
            <ul class="footer__list">
                <li class="footer__header">
                    <a href="#" class="footer__link">О нас</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">О сервисе</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Реклама</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Инвесторы</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Правообладателям</a>
                </li>
            </ul>
        </div>
        <div class="footer__list-box">
            <ul class="footer__list">
                <li class="footer__header">
                    <a href="#" class="footer__link">Служба поддержки</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Соглашения</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Связь с правообладателем</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Сообщества</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Нарушение авторских прав</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <span class="footer__copyright">Copyright © 2021 Music search сервис. Все права защищены.</span>
        <div class="footer__social">
            
        </div>
    </div>
</footer>