<ul class="genre-list">
    <li class="genre-list__item">
        <a href="/genres/pop" class="genre-list__link">Поп</a>
    </li>
    <li class="genre-list__item">
        <a href="/genres/rock" class="genre-list__link">Рок</a>
    </li>
    <li class="genre-list__item">
        <a href="/genres/rap" class="genre-list__link">Реп</a>
    </li>
    <li class="genre-list__item">
        <a href="/genres/electronics" class="genre-list__link">Электроника</a>
    </li>
    <li class="genre-list__item">
        <a href="/genres/chanson" class="genre-list__link">Шансон</a>
    </li>
    <li class="genre-list__item">
        <a href="/genres/metal" class="genre-list__link">Металл</a>
    </li>
    <li class="genre-list__item">
        <a href="/genres/classic" class="genre-list__link">Классика</a>
    </li>
    <li class="genre-list__item">
        <a href="/genres/rnb" class="genre-list__link">RnB</a>
    </li>
    <li class="genre-list__item">
        <a href="/genres/jazz" class="genre-list__link">Джаз</a>
    </li>
    <li class="genre-list__item">
        <a href="/genres/country" class="genre-list__link">Кантри</a>
    </li>
    <li class="genre-list__item">
        <a href="/genres/folk" class="genre-list__link">Фолк</a>
    </li>
    <li class="genre-list__item">
        <a href="/genres/instrumental" class="genre-list__link">Инструментальная</a>
    </li>
</ul>