<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Стили компонентов -->
    <link rel="stylesheet" type="text/css" href="/common/common.css">
    <link rel="stylesheet" type="text/css" href="/createAccount/createAccount.css">
    <link rel="stylesheet" type="text/css" href="/existAccount/existAccount.css">
    <link rel="stylesheet" type="text/css" href="/footer/footer.css">
    <link rel="stylesheet" type="text/css" href="/genre-list/genre-list.css">
    <link rel="stylesheet" type="text/css" href="/page/page.css">
    <link rel="stylesheet" type="text/css" href="/navbar/navbar.css">
    <link rel="stylesheet" type="text/css" href="/title/title.css">
    <link rel="stylesheet" type="text/css" href="/sidebar/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/uploadData/uploadData.css">
    <!-- Подключение шрифта -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- Подключение иконного шрифта -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
</head>