<nav class="navbar">
  <div class="navbar__nav-box">
    <a class="navbar__brand" href="/" >
        <img 
            src="/docs/5.0/assets/brand/bootstrap-logo.svg" 
            alt="image brand" 
            class="navbar__img"
        >
        <span class="navbar__brand-text">Logo</span>
    </a>
    <div class="navbar__collapse">
        <ul class="navbar__list">
            {{#if isAccount}}
                <li class="navbar__nav-item is-active">
                    <a class="navbar__nav-link" href="/account">Авторизация</a>
                </li>
            {{else}}
                <li class="navbar__nav-item is-active">
                    <a class="navbar__nav-link" href="/account">Авторизация</a>
                </li>
            {{/if}}
            {{#if isCreate}}
                <li class="navbar__nav-item is-active">
                    <a class="navbar__nav-link" href="/create">Регистрация</a>
                </li>
            {{else}}
                <li class="navbar__nav-item">
                    <a class="navbar__nav-link" href="/create">Регистрация</a>
                </li>
            {{/if}}
        </ul>
    </div>
  </div>
</nav>