<!-- Улучшенная форма загрузки файлов на сервер -->
<form class="input-file" action="/upload" method="post" enctype="multipart/form-data">
    <span class="input-file__header">Загрузить файл...</span>
    <div class="input-file__upload-box">
        <label for="input-file" class="input-file__head">Выберите файл</label>
        <span class="input-file__text is-select-file">Будет загружен файл...</span>
    </div>
    <input type="file" id="input-file" class="input-file__uploader is-upload" name="fileData">
    <div class="input-file__submit-box">
        <button type="submit" class="input-file__submit is-submit">Отправить</button>
    </div>
    <div class="input-file__select-box">
        <select class="input-file__list" required>
            <option selected class="input-file__option" value="chanson"  name="optionSelected">Шансон</option>
            <option class="input-file__option" value="classic"  name="optionSelected">Классическая музыка</option>
            <option class="input-file__option" value="country"  name="optionSelected">Кантри</option>
            <option class="input-file__option" value="electron" name="optionSelected">Электроника</option>
            <option class="input-file__option" value="folk"     name="optionSelected">Фолк</option>
            <option class="input-file__option" value="instrum"  name="optionSelected">Инструментальная</option>
            <option class="input-file__option" value="jazz"     name="optionSelected">Джазз</option>
            <option class="input-file__option" value="metal"    name="optionSelected">Металл</option>
            <option class="input-file__option" value="pop"      name="optionSelected">Поп</option>
            <option class="input-file__option" value="rap"      name="optionSelected">Реп</option>
            <option class="input-file__option" value="rnb"      name="optionSelected">Рнб</option>
            <option class="input-file__option" value="rock"     name="optionSelected">Рок</option>
        </select>
    </div>
</form>

<!-- Временно выводим значения -->
<!-- <table style="position: absolute; bottom: 33%;">
    <tr>
        <td>Полное название трека</td>
        <td>Имя исполнителя</td>
        <td>Название композиции</td>
        <td>Путь до папки</td>
    </tr>
    {{#each musicFiles}}
        <tr>
            <td>{{this.trackName}}</td>
            <td>{{this.singerName}}</td>
            <td>{{this.songName}}</td>
            <td>{{this.srcPath}}</td>
        </tr>
    {{/each}}
</table> -->