{{> head}}
    <body class="page">
        <header class="page__header">
            {{> navbar}}
        </header>
        <main class="page__content">
            <aside class="page__sidebar">
                {{> sidebar}}
            </aside>
            <article class="page__body">
                {{{body}}}
            </article>
        </main>
        <footer class="page__footer">
            <!-- В этом месте будет выводиться футер -->
        </footer>
    </body>
</html>