{{> head}}
    <body class="page">
        <header class="page__header">
            {{> navbar}}
        </header>
        <main class="page__content">
            <aside class="page__sidebar">
                {{> sidebar}}
            </aside>
            <article class="page__body">
                {{{body}}}
            </article>
        </main>
        <div class="page__footer">
            {{> footer}}
        </div>
        <!-- include jquery -->
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
        </script>
        <!-- include jPlayer plugin -->
        <script src="https://cdn.jsdelivr.net/npm/jplayer@2.9.2/dist/jplayer/jquery.jplayer.min.js"></script>
        <!-- init jPlayer -->
        <script src="/player/jPlayerSettings.js"></script>
        <!-- include script management cursor of player -->
        <script src="/public/player/cursor.js"></script>
        <!-- include jquery input file plugin -->
        <script src="https://cdn.jsdelivr.net/npm/jquery-fileinput@1.3.1/fileinput.js"></script>
        <!-- include jquery input file init -->
        <script src="/form/initFileInput.js"></script>
        <!-- include jquery form styler plugin -->
        <script src="https://cdn.jsdelivr.net/npm/jquery-form-styler@2.0.2/dist/jquery.formstyler.min.js"></script>
        <!-- init jquery form styler -->
        <script src="/form/initFormStyler.js"></script>
        <!-- jquery validation cdn was taking from: https://cdnjs.com/libraries/jquery-validate -->
        <!-- include jquery validation plugin -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
        <!-- jquery validation code of form registration -->
        <script src="/form/validationForm.js"></script>
        <!-- jquery validation code of form autentication -->
        <script src="/form/validationAccountExist.js"></script>
    </body>
</html>