{{> head}}
    <body class="page">
        <header class="page__header">
            {{> navbar}}
        </header>
        <main class="page__content">
            <aside class="page__sidebar">
                {{> sidebar}}
            </aside>
            <article class="page__body">
                {{{body}}}
            </article>
        </main>
        <footer class="page__footer">
            <!-- В этом месте будет выводиться футер -->
        </footer>
        <!-- Подключаем Jquery плагин для запуска нашего аудиоплеера -->
        <!-- <script src="../../public/jquery/audio.min.js"></script> -->
        <!-- Скрипт для запуска аудиоплеера -->
        <!-- <script src="../../public/js/player.js"></script> -->
        <script src="/dist/audio.min.js"></script>
        <script src="../../public/js/player.js"></script>
    </body>
</html>