<form class="create-account">
    <div class="create-account__title-box">
        <span class="create-account__title">Регистрация аккаунта</span>
        <div class="create-account__person-data">
            <div class="create-account__field-name-box">
                <label class="create-account__self-field-box">
                    <input type="text" class="create-account__data" name="first_name" required>
                    <label class="create-account__label">Имя</label>
                </label>
            </div>
            <div class="create-account__field-last-name-box">
                <label class="create-account__self-field-box">
                    <input type="text" class="create-account__data" name="last_name" required>
                    <label class="create-account__label">Фамилия</label>
                </label>
            </div>
        </div>
        <div class="create-account__select-gender">
            <div class="create-account__radio">
                <label class="create-account__radio-checker">
                    <input type="radio" name="radio" class="create-account__hidden">
                    <span class="create-account__imitation"></span>
                </label>
                <div class="create-account__radio-text">Мужчина</div>
            </div>
            <div class="create-account__radio">
                <label class="create-account__radio-checker">
                    <input type="radio" name="radio" class="create-account__hidden">
                    <span class="create-account__imitation"></span>
                </label>
                <div class="create-account__radio-text">Женщина</div>
            </div>
        </div>
        <div class="create-account__secret-data-box">
            <label class="create-account__self-field-box">
                <input type="text" class="create-account__data" name="birthday" required>
                <label class="create-account__label">ДД.ММ.ГГГГ</label>
            </label>
        </div>
        <div class="create-account__strict-secret-data-box">
            <label class="create-account__self-field-box">
                <input type="text" class="create-account__data" name="email" required>
                <label class="create-account__label">Email</label>
            </label>
            <label class="create-account__self-field-box">
                <input type="password" class="create-account__data" name="password" required>
                <label class="create-account__label">Пароль</label>
            </label>
        </div>
        <div class="create-account__btn-close-box">
            <button type="submit" class="create-account__btn-close">Зарегистрироваться</button>
        </div>
        <div class="create-account__finish">
            <span class="create-account__has-acc-text">Уже есть аккаунт на Music search?</span>
            <button type="submit" class="create-account__btn-move">Войти</button>
        </div>
    </div>
</form>