<div class="page__grid">
    <div class="page__grid-box-1">
        <div class="page__title-box">
            <span class="title">Музыкальные композиции</span>
        </div>
        <div class="page__title-box">
            <span class="title">Поп</span>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__title-box">
            <span class="title">Рок</span>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__title-box">
            <span class="title">Реп</span>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__title-box">
            <span class="title">Электроника</span>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__title-box">
            <span class="title">Шансон</span>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__title-box">
            <span class="title">Металл</span>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__title-box">
            <span class="title">Классика</span>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__title-box">
            <span class="title">RNB</span>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__title-box">
            <span class="title">Джаз</span>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__title-box">
            <span class="title">Кантри</span>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__title-box">
            <span class="title">Фолк</span>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__title-box">
            <span class="title">Инструментальная</span>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
    </div>
    <div class="page__grid-box-2">
        <div class="page__title-box">
            <span class="title">Жанры</span>
        </div>
        <div class="page__genre-box">
            {{> genres}}
        </div>
    </div>
</div>


