<div class="page__grid">
    <div class="page__grid-box-1">
        <div class="page__title-box">
            <span class="title">{{header}}</span>
        </div>
        <!-- Выводим все треки всех жанров -->
        {{#each all}}
            <template>
                {{> player}}
            </template>
        {{/each}}
    </div>
    <div class="page__grid-box-2">
        <div class="page__title-box">
            <span class="title">Музыкальные жанры</span>
        </div>
        <div class="page__genre-box">
            {{> genres}}
        </div>
    </div>
</div>


