<div class="page__grid">
    <div class="page__grid-box-1">
        <div class="page__title-box">
            <span class="title">Музыкальные композиции</span>
        </div>
        <!-- Выводить пути нахождения музыкального файла поочередно в порядке расположения жанров -->
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
                <!-- по ссылке в пути src передается проигрываемый трек -->
            </audio>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
        <div class="page__player-box">
            <audio controls>
                <source 
                    src="https://ia800905.us.archive.org/19/items/FREE_background_music_dhalius/backsound.mp3"  
                    type="audio/mp3"
                >
            </audio>
        </div>
    </div>
    <div class="page__grid-box-2">
        <div class="page__title-box">
            <span class="title">Жанры</span>
        </div>
        <ul class="genre-list">
            <li class="genre-list__item">
                <a href="#" class="genre-list__link">Поп</a>
            </li>
            <li class="genre-list__item">
                <a href="#" class="genre-list__link">Рок</a>
            </li>
            <li class="genre-list__item">
                <a href="#" class="genre-list__link">Реп</a>
            </li>
            <li class="genre-list__item">
                <a href="#" class="genre-list__link">Электроника</a>
            </li>
            <li class="genre-list__item">
                <a href="#" class="genre-list__link">Шансон</a>
            </li>
            <li class="genre-list__item">
                <a href="#" class="genre-list__link">Металл</a>
            </li>
            <li class="genre-list__item">
                <a href="#" class="genre-list__link">Классика</a>
            </li>
            <li class="genre-list__item">
                <a href="#" class="genre-list__link">RnB</a>
            </li>
            <li class="genre-list__item">
                <a href="#" class="genre-list__link">Джаз</a>
            </li>
            <li class="genre-list__item">
                <a href="#" class="genre-list__link">Кантри</a>
            </li>
            <li class="genre-list__item">
                <a href="#" class="genre-list__link">Фолк</a>
            </li>
            <li class="genre-list__item">
                <a href="#" class="genre-list__link">Инструментальная</a>
            </li>
        </ul>
    </div>
</div>


