@mixin flexible($align, $item) {
    display: flex;
    justify-content: $align;
    align-items: $item;
}

@mixin resetListSTyle {
    padding: 0;
    margin: 0;
    list-style: none;
}

.jp-type-single {
    position: relative;
}

.jp-title {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
    z-index: 8;
    pointer-events: none;
    &__name-box {
        @include resetListSTyle();
    }
}

.jp-gui {
    position: relative;
    background: #f34927;
    box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, .1);
    border-radius: 3px;
    overflow: hidden;
    margin-top: 10px;
}

.jp-controls {
    @include resetListSTyle();
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    &__item {
        display: block;
    }
    & span {
        color: #fff;
    }
    .jp-play, .jp-pause {
        display: block;
        width: 60px;
        height: 40px;
        text-align: center;
        line-height: 43px;
        color: #fff;
        font-size: 20px;
    }

    & .jp-play:hover,
    & .jp-pause:hover {
        background-color: #de3918;
    }
}

.jp-mute,.jp-unmute {
    display: block;
    position: absolute;
    top: 0;
    right: 55px;
    width: 20px;
    height: 40px;
    line-height: 46px;
    color: #fff;
}

.jp-mute {
    text-align: left;
}

.jp-time-holder {
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    top: 14px;
    right: 90px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}

.jp-progress {
    background: #992E18;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 15px;
    right: 133px;
    width: 210px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2) inset;
}

.jp-play-bar {
    height: 12px;
    background: #fff;
    border-radius: 20px;
}

.jp-volume-bar {
    position: absolute;
    top: 17px;
    right: 10px;
    width: 45px;
    height: 8px;
    border-radius: 20px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
    background: #992E18;
    overflow: hidden;
}

.jp-volume-bar-value {
    background: #fff;
    height: 8px;
    border-radius: 20px;
}

.jp-play-bar {
    &__bullet,
    &__bullet:hover {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        width: 12px;
        border-radius: 50%;
    }
}

.jp-play-bar {
    &__bullet {
        background: transparent;
        transition: 0.5s;
        &:hover {
            background: #000;
        }
    }
}