// Стили меню

.navbar {
    background: #000;
    padding: 35px 0;
    &__nav-box {
        padding: 0 0 0 30px;
    }
    &__nav-box,
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__brand,
    &__nav-link {
        text-decoration: none;
    }
    &__brand-text {
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
    }
    &__collapse {
        padding: 0 140px 0 0;
    }
    &__nav-link {
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__list > &__nav-item {
        padding: 0 20px 0 0;
    }
    &__list > &__nav-item:last-child {
        padding: 0;
    }
}